/* =========================
   Common Styles
========================= */

/* Box Component */
.box {
  border: 1px solid var(--border, #e5e7eb);
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  background-color: var(--background, #ffffff);
  color: var(--foreground, #000000);
}

/* .box:hover {
  border-color: var(--border-hover, #d1d5db);
} */

.card {
  all: unset; /* Bootstrapの影響をリセット */
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--border, #e5e7eb);
  td, th {
    border: 1px solid var(--border, #e5e7eb);
    padding: 0.5rem 1rem;
    text-align: left;
  }
  th {
    background-color: #ddd;
  }
}