/**
 * Global CSS Variables
 */

:root {
  --radius: 8px; /* 0.625rem; */
  --radius-button: 4px;
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(38, 38, 38);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(38, 38, 38);
  --primary: rgb(52, 52, 52);
  --primary-foreground: rgb(251, 251, 251);
  --secondary: rgb(247, 247, 247);
  --secondary-foreground: rgb(52, 52, 52);
  --muted: rgb(247, 247, 247);
  --muted-foreground: rgb(142, 142, 142);
  --accent: rgb(34, 150, 190); /* #0078d4; */ /* rgb(0, 120, 212) */ /* 69, 181, 217 */
  /* --accent: rgb(247, 247, 247); */
  --accent-foreground: rgb(255, 255, 255);
  /* --accent-foreground: rgb(52, 52, 52); */
  --destructive: rgb(190, 44, 38);
  --border: rgb(200, 200, 200);
  /* --border: rgb(235, 235, 235); */
  --input: rgb(235, 235, 235);
  --ring: rgb(181, 181, 181);
  --chart-1: rgb(226, 129, 74);
  --chart-2: rgb(83, 166, 223);
  --chart-3: rgb(82, 115, 208);
  --chart-4: rgb(255, 192, 88);
  --chart-5: rgb(255, 166, 75);
  --sidebar: rgb(251, 251, 251);
  --sidebar-foreground: rgb(38, 38, 38);
  --sidebar-primary: rgb(52, 52, 52);
  --sidebar-primary-foreground: rgb(251, 251, 251);
  --sidebar-accent: rgb(247, 247, 247);
  --sidebar-accent-foreground: rgb(52, 52, 52);
  --sidebar-border: rgb(235, 235, 235);
  --sidebar-ring: rgb(181, 181, 181);
  --background: rgb(255, 255, 255);
  --foreground: rgb(38, 38, 38);

  /* Neutral Colors (shadcn/ui) */
  --neutral-50: hsl(0 0% 98%);
  --neutral-100: hsl(0 0% 96.1%);
  --neutral-200: hsl(0 0% 89.8%);
  --neutral-300: hsl(0 0% 83.1%);
  --neutral-400: hsl(0 0% 63.9%);
  --neutral-500: hsl(0 0% 45.1%);
  --neutral-600: hsl(0 0% 32.2%);
  --neutral-700: hsl(0 0% 25.1%);
  --neutral-800: hsl(0 0% 14.9%);
  --neutral-900: hsl(0 0% 9%);
  --neutral-950: hsl(0 0% 5%);
}

/* :root {
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --ring: 0 0% 9%;
  --radius: 4px;
} */
